In [1]:
# import neccessary libraries 

import pandas as pd 
from matplotlib import pyplot as plt

In [2]:
# load and read the data 

df = pd.read_csv("onlinedeliverydata.csv", sep = ";")

In [3]:
# explore the data

df.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,...,Influence of rating,Less Delivery time,High Quality of package,Number of calls,Politeness,Freshness,Temperature,Good Taste,Good Quantity,Output
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,...,Yes,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Yes
1,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,...,Yes,Very Important,Important,Moderately Important,Very Important,Very Important,Very Important,Very Important,Important,Yes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,...,Yes,Important,Important,Moderately Important,Important,Important,Important,Very Important,Very Important,Yes
3,27,Female,Married,Employee,More than 50000,Post Graduate,2,12.9299,77.6848,560103,...,Yes,Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Yes
4,22,Male,Single,Student,No Income,Graduate,3,12.9770,77.5773,560009,...,Yes,Very Important,Very Important,Unimportant,Important,Very Important,Very Important,Very Important,Very Important,Yes

In [4]:
# explore the columns 

df.columns

Index(['Age', 'Gender', 'Marital Status', 'Occupation', 'Monthly Income',
       'Educational Qualifications', 'Family size', 'latitude', 'longitude',
       'Pin code', 'Medium (P1)', 'Medium (P2)', 'Meal(P1)', 'Meal(P2)',
       'Perference(P1)', 'Perference(P2)', 'Maximum wait time', 'Time saving',
       'More restaurant choices', 'Easy Payment option',
       'More Offers and Discount', 'Good Food quality', 'Good Tracking system',
       'Self Cooking', 'Health Concern', 'Late Delivery', 'Poor Hygiene',
       'Bad past experience', 'Unavailability', 'Unaffordable',
       'Long delivery time', 'Delay of delivery person getting assigned',
       'Delay of delivery person picking up food', 'Wrong order delivered',
       'Missing item', 'Order placed by mistake', 'Influence of time',
       'Order Time', 'Unnamed: 38', 'Residence in busy location',
       'Google Maps Accuracy', 'Good Road Condition', 'Low quantity low time',
       'Delivery person ability', 'Influence of rating', 'Less Delivery time',
       'High Quality of package', 'Number of calls', 'Politeness',
       'Freshness ', 'Temperature', 'Good Taste ', 'Good Quantity', 'Output'],
      dtype='object')

In [5]:
# Slice the data with the columns we are only interested in 

df = df.loc[: , "Age":"Maximum wait time"]

In [6]:
df.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Medium (P1),Medium (P2),Meal(P1),Meal(P2),Perference(P1),Perference(P2),Maximum wait time
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Food delivery apps,Web browser,Breakfast,Lunch,Non Veg foods (Lunch / Dinner),Bakery items (snacks),30 minutes
1,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Food delivery apps,Walk-in,Snacks,Dinner,Veg foods (Breakfast / Lunch / Dinner),Bakery items (snacks),30 minutes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Walk-in,Direct call,Lunch,Dinner,Non Veg foods (Lunch / Dinner),Veg foods (Breakfast / Lunch / Dinner),30 minutes
3,27,Female,Married,Employee,More than 50000,Post Graduate,2,12.9299,77.6848,560103,Food delivery apps,Walk-in,Lunch,Dinner,Non Veg foods (Lunch / Dinner),Veg foods (Breakfast / Lunch / Dinner),45 minutes
4,22,Male,Single,Student,No Income,Graduate,3,12.9770,77.5773,560009,Food delivery apps,Direct call,Lunch,Dinner,Non Veg foods (Lunch / Dinner),Veg foods (Breakfast / Lunch / Dinner),45 minutes

In [7]:
# getting informations about the data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         386 non-null    int64
 1   Gender                      386 non-null    object
 2   Marital Status              386 non-null    object
 3   Occupation                  386 non-null    object
 4   Monthly Income              386 non-null    object
 5   Educational Qualifications  386 non-null    object
 6   Family size                 386 non-null    int64
 7   latitude                    386 non-null    float64
 8   longitude                   386 non-null    float64
 9   Pin code                    386 non-null    int64
 10  Medium (P1)                 386 non-null    object
 11  Medium (P2)                 386 non-null    object
 12  Meal(P1)                    386 non-null    object
 13  Meal(P2)                    386 non-null    object
 14  Perference(P1)              386 non-null    object
 15  Perference(P2)              386 non-null    object
 16  Maximum wait time           386 non-null    object
dtypes: float64(2), int64(3), object(12)
memory usage: 51.4+ KB

Issues need to be solved 

- change the age data type from object to int

In [8]:
df["Age"] = df["Age"].astype(int)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         386 non-null    int32
 1   Gender                      386 non-null    object
 2   Marital Status              386 non-null    object
 3   Occupation                  386 non-null    object
 4   Monthly Income              386 non-null    object
 5   Educational Qualifications  386 non-null    object
 6   Family size                 386 non-null    int64
 7   latitude                    386 non-null    float64
 8   longitude                   386 non-null    float64
 9   Pin code                    386 non-null    int64
 10  Medium (P1)                 386 non-null    object
 11  Medium (P2)                 386 non-null    object
 12  Meal(P1)                    386 non-null    object
 13  Meal(P2)                    386 non-null    object
 14  Perference(P1)              386 non-null    object
 15  Perference(P2)              386 non-null    object
 16  Maximum wait time           386 non-null    object
dtypes: float64(2), int32(1), int64(2), object(12)
memory usage: 49.9+ KB

In [33]:
# check for nulls 
df.isna().any()

Age                           False
Gender                        False
Marital Status                False
Occupation                    False
Monthly Income                False
Educational Qualifications    False
Family size                   False
latitude                      False
longitude                     False
Pin code                      False
Medium (P1)                   False
Medium (P2)                   False
Meal(P1)                      False
Meal(P2)                      False
Perference(P1)                False
Perference(P2)                False
Maximum wait time             False
dtype: bool

In [10]:
# find the shape of the data

df.shape

(386, 17)

In [11]:
# find more about the data columns
df["Gender"].value_counts()

Male      221
Female    165
Name: Gender, dtype: int64

In [12]:
df["Maximum wait time"].unique()

array(['30 minutes', '45 minutes', '60 minutes', 'More than 60 minutes',
       '15 minutes'], dtype=object)

we will replace "more than 60 minutes" to 70 minutes

In [13]:
df["Maximum wait time"] = df["Maximum wait time"].replace("More than 60 minutes" , "70 minutes")

In [14]:
df["Maximum wait time"].unique()

array(['30 minutes', '45 minutes', '60 minutes', '70 minutes',
       '15 minutes'], dtype=object)

now we will get only the number from the column

In [22]:
# apply lambda function to get only the number

df["Maximum wait time"] = df["Maximum wait time"].apply(lambda x :x.split()[0])

In [20]:
df["Maximum wait time"].unique()

array(['30', '45', '60', '70', '15'], dtype=object)

In [21]:
df.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Medium (P1),Medium (P2),Meal(P1),Meal(P2),Perference(P1),Perference(P2),Maximum wait time
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Food delivery apps,Web browser,Breakfast,Lunch,Non Veg foods (Lunch / Dinner),Bakery items (snacks),30
1,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Food delivery apps,Walk-in,Snacks,Dinner,Veg foods (Breakfast / Lunch / Dinner),Bakery items (snacks),30
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Walk-in,Direct call,Lunch,Dinner,Non Veg foods (Lunch / Dinner),Veg foods (Breakfast / Lunch / Dinner),30
3,27,Female,Married,Employee,More than 50000,Post Graduate,2,12.9299,77.6848,560103,Food delivery apps,Walk-in,Lunch,Dinner,Non Veg foods (Lunch / Dinner),Veg foods (Breakfast / Lunch / Dinner),45
4,22,Male,Single,Student,No Income,Graduate,3,12.9770,77.5773,560009,Food delivery apps,Direct call,Lunch,Dinner,Non Veg foods (Lunch / Dinner),Veg foods (Breakfast / Lunch / Dinner),45

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         386 non-null    int32
 1   Gender                      386 non-null    object
 2   Marital Status              386 non-null    object
 3   Occupation                  386 non-null    object
 4   Monthly Income              386 non-null    object
 5   Educational Qualifications  386 non-null    object
 6   Family size                 386 non-null    int64
 7   latitude                    386 non-null    float64
 8   longitude                   386 non-null    float64
 9   Pin code                    386 non-null    int64
 10  Medium (P1)                 386 non-null    object
 11  Medium (P2)                 386 non-null    object
 12  Meal(P1)                    386 non-null    object
 13  Meal(P2)                    386 non-null    object
 14  Perference(P1)              386 non-null    object
 15  Perference(P2)              386 non-null    object
 16  Maximum wait time           386 non-null    object
dtypes: float64(2), int32(1), int64(2), object(12)
memory usage: 49.9+ KB

now we will change the data type of "Maximum wait time" to int

In [24]:
df["Maximum wait time"] = df["Maximum wait time"].astype(int)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         386 non-null    int32
 1   Gender                      386 non-null    object
 2   Marital Status              386 non-null    object
 3   Occupation                  386 non-null    object
 4   Monthly Income              386 non-null    object
 5   Educational Qualifications  386 non-null    object
 6   Family size                 386 non-null    int64
 7   latitude                    386 non-null    float64
 8   longitude                   386 non-null    float64
 9   Pin code                    386 non-null    int64
 10  Medium (P1)                 386 non-null    object
 11  Medium (P2)                 386 non-null    object
 12  Meal(P1)                    386 non-null    object
 13  Meal(P2)                    386 non-null    object
 14  Perference(P1)              386 non-null    object
 15  Perference(P2)              386 non-null    object
 16  Maximum wait time           386 non-null    int32
dtypes: float64(2), int32(2), int64(2), object(11)
memory usage: 48.4+ KB

In [32]:
# explore more the occupation column
df["Occupation"].value_counts()

Student           205
Employee          118
Self Employeed     54
House wife          9
Name: Occupation, dtype: int64

In [35]:
# save the data in csv file 
df.to_csv("food_delivery.csv")